* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

.logo {
    font-size: 6rem;
}

.yellow {
    color: yellow;
    text-shadow: 0 0 4px black;
}

.title {
    font-size: 2.5rem;
}

.date {
    border: 2px solid yellow;
    border-radius: 15px;
    padding: 0 0.5em;
}

th, td {
    font-size: 2.5rem;
}

.legend h3 {
    font-size: 2.5rem;
}

.btn {
    font-size: 2.3rem;
}

/* LAYOUT */

header {
    max-width: 700px;
    margin: 3em auto;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.timetable {
    margin-bottom: 3em;
    min-width: 850px;
}

.timetable, th, td {
    border-collapse: collapse;
    border: 2px solid;
}

.timetable tbody p {
    /* margin: 0.5em; */
    padding: 0.5em;
}

.group-time {
    display: flex;
    border: 0;

    justify-content: space-between;
    align-items: center;
}

.group-time p {
    padding: 0.5em;
}

thead td p {
    transform: rotate(-90deg);
    /* padding: 0.5em; */
    margin: 1em 0.5em;
    width: max-content;

    position: relative;
    left: 0.38em;
}

tbody th {
    text-align: left;
    padding-left: 0.5em;
}

tbody td {
    text-align: center;
}

tbody td:hover {
    background-color: lightgray;
    cursor: pointer;
}

.legend {
    max-width: 700px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 3em;
}

.editor-section {
    max-width: 700px;
    display: flex;
    gap: 5em;
}

.btn {
    border: 0;
    background-color: lightgray;

    padding: 1em;
    border-radius: 10px;

    transition: all 0.25s ease;
}

.btn:hover {
    cursor: pointer;
}

.btn:hover:not(.btn.yes, .btn.no), .edit:hover {
    background-color: rgb(247, 247, 109);
    /* background-color: rgb(248, 231, 202); */
    cursor: pointer;
}

/* CONFIRMATION WINDOW */

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    z-index: 10;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    z-index: 15;
    background-color: white;
    font-size: 1.8rem;
    min-width: 25em;
    padding: 1.5em;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-modal {
    position: absolute;
    top: 1.25rem;
    right: 2rem;

    font-size: 3rem;
    cursor: pointer;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.buttons-container {
    margin-top: 1em;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn.yes {
    min-width: 5em;
    /* text-align: center; */

    background-color: rgb(83, 230, 83);
}

.btn.no {
    min-width: 5em;
    /* text-align: center; */

    background-color: rgb(237, 55, 55);
}

.hidden {
    display: none;
}